<!DOCTYPE HTML>
<html>
<head>
    <title> Start test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
<div><h4>Hello, {{# username }}
    {{ . }}
{{/ username }}</h4>
    <h4>If you want to start test, click on button below.Your time of enter was stamped.</h4>
</div>
<a href="/main"  ><button class="btn btn-primary"> Start test</button></a>
</body>
</html>
